name: Release

on:
  release:
    types: [published]

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    name: Push gem to RubyGems.org
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.3'
          bundler-cache: true

      - uses: rubygems/release-gem@v1
